/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 800px) {


   header h1 {
        text-align: center;
        
}

 header, nav, main, footer {
        max-width: 64rem;
        margin:auto;

    }

    
} 