@media screen and (min-width:800px) {
    .photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    #menu {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-evenly;
    }


    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }



}

@media screen and (min-width:1000px) {
    .photos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

     h1 {
        font-family: var(--paragraph-font);
        font-size: 30px;
        display: block;

    }

    #menu {
        display: none;
    }


    header {
        display: flex;
        justify-content: space-between;
    }

}