:root {
    --primary-color: #4EA5DF;
    --secondary-color: #FFFFFC;
    --accent1-color: #376323;
    --accent2-color: #000500;
  
    --heading-font: 'Bebas Neue', cursive;
    --paragraph-font: 'Roboto', sans-serif;
  
    --nav-background-color: #2892D7;
    --nav-link-color: #000500;
    --nav-hover-link-color: #376323;
    --nav-hover-background-color: #FFFFFC;;
}


@media screen and (min-width:500px) {
    body header {
        background-color: var(--accent2-color);
        color: var(--secondary-color); 
    }

    body  main {display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }
}